body {
  font-size: 15px;
  padding: 50px;
  font-family: sans-serif;
  background: linear-gradient(to right, #F93D66, #6D47D9);
}
  
button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}
  
img {
  max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "top top"
    "form form"
    "book book"
    "book book";
}

.top {
    grid-area: top;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "hero hero description"
        "hero hero description";
}

.hero {
    grid-area: hero;
    min-height: 400px;
    background: white url(./img/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
    background-size: cover;
    background-position: top left;
    padding: 50px;
    display: grid;
    justify-items: start;
    align-content: center;

}

.hero > * {
    background: #ffc600;
    padding: 5px;
}

.hero > h1 {
    font-size: 32px;
}

.hero > p {
    font-size: 24px;
}

.description {
    grid-area: description;
    background-color: #ffc600;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 15px;
}

.description > p {
    margin: 0;
}

.form-area {
    grid-area: form;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.form-div input {
    width: 300px;
    height: 20px;
    border-radius: 6px;
}

.form-div label {
    background-color: #ffc600;
    padding: 5px;
    font-weight: 500;
}

.form-div-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.form-div-radio > p {
    margin-right: 10px;
    font-size: 15px;
}

label {
    margin-bottom: 5px;
}

#submit {
    font-size: 20px;
    padding: 4px 1px;
    width: 75px;
    height: 35px;
    background-color: #ffc600;
}

.book {
    grid-area: book;
}


